.about-it {
  padding-top: 30px;
  padding-bottom: 36px;

  @media (max-width:767px) {
    background-image: url(../images/about_it/map_for_mobile.png);
    background-repeat: no-repeat;
    background-position: 48px 618px;

    &__title {
      margin-bottom: 21px;
    }

    &__subtitle {
      @include font-set(14px, 1.43);
      letter-spacing: -0.8px;
      font-weight: 900;
      margin-bottom: 20px;

      @media (min-width:768px) {
        text-align: center;
        @include font-set(18px, 1.4);
        letter-spacing: -0.7px;
      }

    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url(../images/about_it/map_for_mobile@2x.png);
    }
  }

  &__advantages-list {
    margin-left: 17px;
    margin-bottom: 20px;
  }

  @media (max-width:767px) {
    &__advantages-item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__item-count {
    @include font-set(30px, 0.8);
    letter-spacing: -1.2px;
    font-weight: 700;
    color: $secondary--color-aqua;
    margin-bottom: 8px;
  }

  &__item-description {
    @include font-set(14px, 1.5);
    letter-spacing: -0.56px;
    font-weight: 400;
    color: $secondary-dark-color;
  }

  &__salaryinfo {
    margin-left: 17px;

    &-title {
      @include font-set(14px, 1.5);
      letter-spacing: -0.56px;
      font-weight: 700;
      color: $secondary-dark-color;
      margin-bottom: 4px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &-item {
      width: 108px;
    }

    &-count {
      @include font-set(25px, 1);
      letter-spacing: -1px;
      font-weight: 500;
      color: $secondary--color-aqua;
    }

    &-description {
      @include font-set(10px, 1.1);
      letter-spacing: -0.4px;
      font-weight: 400;
      color: $secondary-dark-color;
    }

  }

  &__suggestions {
    @media (max-width:767px) {
      &-title {
        margin-bottom: 14px;
      }
    }

    &-item {
      position: relative;
    }

    &-item:not(:last-child) {
      position: relative;
      margin-bottom: 12px;
    }

    &-description {
      @include font-set(14px, 1.4);
      letter-spacing: -0.56px;
      font-weight: 400;
      color: $secondary-dark-color;
      padding-left: 36px;

      &::before {
        position: absolute;
        left: 0;
        @extend %pseudo;
        width: 12px;
        height: 12px;
        background-color: $secondary--color-aqua;

        @media (min-width:768px) {
          top: 6px;
        }
      }
    }
  }
}

@media (min-width:768px) {
  .about-it {
    padding-top: 46px;

    &__title {
      margin-bottom: 31px;
    }

    &__subtitle {
      padding: 0 134px;
      margin-bottom: 36px;
    }

    &__advantages {
      width: 700px;
      height: 543px;
      padding: 46px 38px;
      margin: 0 auto;
      background-image: url(../images/about_it/map_for_tablet.png);
      background-repeat: no-repeat;
      background-position: 334px 296px;
      box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16), -18px 18px 0px 0px rgba(0, 0, 0, 0.05);

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
        background-image: url(../images/about_it/map_for_tablet@2x.png);
      }

      @media (min-width:768px)and(max-width:1199px) {
        &-wrapper {
          margin-bottom: 46px;
        }
      }

      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      &-item {
        width: 172px;

        &:not(:nth-last-child(-n+3)) {
          margin-bottom: 20px;
        }
      }
    }

    &__salaryinfo {
      width: 240px;
    }

    &__suggestions {
      &-title {
        margin-bottom: 20px;
      }

      &-list {
        width: 428px;
        margin-left: 64px;
      }

      &-description {
        @include font-set(16px, 1.5);
        letter-spacing: -0.64px;
      }
    }
  }
}

@media (min-width:1200px) {
  .about-it {
    padding-top: 83px;

    &__title {
      margin-bottom: 65px;
    }
  }

  .container--desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .about-it__suggestions {
    width: 480px;

    &-title {
      margin-left: 50px;
    }
  }
}
