.career {
  background-color: #edf0f2;
}

.career__title {
  width: 250px;
  padding-top: 35px;
  color: $primary-dark-color;
  @include font-set(20px, 1.5);
  letter-spacing: -0, 8;
  font-weight: bold;
  text-align: center;
  padding-bottom: 35px;
  margin: 0 auto;
}

.career-list-item {
  display: block;
  width: 225px;
  height: 230px;
  padding: 24px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 41px;
  box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16), -20px 14px 0 0 #d9dcde;
  position: relative;
}

.career-list-item::before {
  @extend %pseudo;
  width: 60px;
  height: 2px;
  background-color: #00eaff;
  position: absolute;
  left: -13px;
  top: 25px;
}

.div-career {
  z-index: 2;
}

.career-list-item {
  counter-increment: awards-counter;
}

.career-list-item::after {
  content: "0"counter(awards-counter);
  font-family: $main-font-stack;
  @include font-set(50px, 1.2);
  font-weight: bold;
  top: -37px;
  right: 0;
  z-index: 82;
  position: absolute;
  color: #fbfcfb;
}

.career-text {
  color: $primary-dark-color;
  @include font-set(16px, 1.5);
  line-height: 1.375;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 50px;
}

.career-text-bold {
  color: $primary-dark-color;
  @include font-set(16px, 1.5);
  line-height: 1.375;
  font-weight: bold;
}

.career-button {
  padding-bottom: 38px;
}

.button-container {
  @extend %button;
  border: none;
  width: 225px;
  height: 106px;
  width: 185px;
  @include font-set(14px, 1.429);
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .career__title {
    width: 580px;
    padding-top: 52px;
    @include font-set(30px, 1.333);
    padding-bottom: 53px;
  }

  .career-list {
    width: 735px;
    height: 230px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .career-list-item::after {
    @include font-set(70px, 1.2);
    top: -53px;
  
  }

  .career-button {
    padding-bottom: 60px;
  }

  .button-container {
    width: 529px;
    height: 70px;
    @include font-set(18px, 1.2);
    text-transform: inherit;
  }
}

@media (min-width: 1200px) {
  .career__title {
    width: 1038px;
    padding-top: 88px;
    @include font-set(48px, 1.25);
    padding-bottom: 105px;
  }

  .career-list {
    width: 1141px;
    height: 280px;
    margin-bottom: 76px;
  }
  .career-list-item::after {
    @include font-set(150px, 1.2);
    top: -113px;
  }

  .career-list-item {
    width: 350px;
    height: 280px;
  }

  .career-list-item::before {
    top: 35px;
  }

  .career-text {
    color: $primary-dark-color;
    @include font-set(18px, 1.944);
    line-height: 1.375;
    text-align: left;
    padding-top: 20px;
  }

  .career-list-item {
    width: 350px;
    height: 280px;
  }

  .career-list-item::before {
    top: 35px;
  }

  .career-list-item {
    width: 350px;
    height: 280px;
  }

  .career-list-item::before {
    top: 35px;
  }

  .career-button {
    padding-bottom: 100px;
  }

  .button-container {
    width: 815px;
    height: 110px;
    @include font-set(25px, 1.2);
    text-transform: inherit;
  }

}

