.header {
  min-height: 798px;
  background-color: $secondary-dark-color;
  background-image: url(../images/header/Bgheader.png);
  padding-top: 26px;

}

.logotype {
  display: block;
  height: 30px;
  width: 100px;
  background-image: url(../images/header/Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.header__text {
  @include font-set(14px, 1.286) color: $primary-white-color;
  margin-bottom: 16px;
  letter-spacing: -0.5px;

}


.header__title {
  @include font-set(20px, 1.3);
  color: $secondary--color-aqua;
  font-weight: bold;
  letter-spacing: -0.9px;
  margin-bottom: 18px;

}

.header__main-text {
  letter-spacing: 0px;
  margin-bottom: 20px;


}

.header__meet-text {
  @include font-set(14px, 1.2);
  color: $secondary--color-sand;
  font-weight: bold;
  letter-spacing: -0.56px;

  text-align: left;

}

.header__adress-text {
  @include font-set(20px, 1.2);
  color: $secondary--color-sand;
  font-weight: bold;
  letter-spacing: -0.8px;
  margin-bottom: 18px;

}

.header__form-wrapper {
  min-height: 378px;
  background-color: $primary-white-color;
  padding: 16px 18px 26px 20px;
  margin-bottom: 12px;
  box-shadow: 0px 12px 70px 0px rgba(121, 139, 188, 0.48);
}



.contact__title {
  @include font-set(16px, 1.25);
  color: $primary-dark-color;
  font-weight: 900;
  margin-bottom: 6px;
  text-align: left;
}

.contact__text {
  @include font-set(13px, 1.385);
  color: $primary-dark-color;
  margin-bottom: 14px;
  letter-spacing: -0.26px;
  text-align: left;
}

.form__div {
  display: flex;
  min-height: 144px;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;


}

.form__input {
  @include font-set(14px, 1.2);
  width: 220px;
  height: 40px;
  color: rgb(162, 162, 162);
  font-weight: bold;
  padding-left: 18px;
  background-color: $primary-white-color;
  border-width: 0.833px;
  border-color: rgb(82, 82, 82);
  border-style: solid;

}

.form__btn {
  @extend %button;
  @include font-set(16px, 1.2);
  width: 220px;
  height: 40px;
  color: $primary-white-color;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);


}

.form__input:focus {
  outline: none;
}

input:required:focus:valid {
  outline: 3px solid green;
}

input:required:focus:invalid {
  outline: 3px solid red;
}

.politics {
  @extend %link;
  @include font-set(13px, 1.2);
  margin-bottom: 20px;
  color: rgb(93, 96, 102);
  padding-left: 22px;

}

@media (min-width: 768px) {
  .container_header {
    width: 624px;
  }

  .header {
    padding-top: 38px;
    background-image: none;
  }

  .logotype {
    margin-bottom: 30px;
  }

  .header__text {
    margin-bottom: 34px;
    

  }

  .header__wrapper {
    width: 572px;
  }

  .header__form-wrapper {
    width: 620px;
  }

  .header__title {
    @include font-set(40px, 1.25);
    letter-spacing: -1.9px;
  
  }
  .header__main-text {
    @include font-set(18px, 1.444);
    margin-bottom: 26px;
  }
  .header__meet-text{
    @include font-set(18px, 1.2);
  }

  .header__adress-text{
    @include font-set(40px, 1.2);
    letter-spacing: -1.64px;
  }
  .contact__wrapper{
      width: 442px;
      margin: 0 auto;
  }

  .header__form-wrapper {
    min-height: 398px;
    padding: 30px 76px 40px 76px;
    box-shadow: 0px 12px 70px 0px rgba(121, 139, 188, 0.48);
    margin-bottom: 6px;
  }

  .form__div{
      margin-bottom: 28px;
  }



    .contact__title {
        @include font-set(24px, 1.167);
        color: $primary-dark-color;
        margin-bottom: 18px;
        text-align: center;
        width: 370px;
        margin: 0 auto;
        margin-bottom: 16px;
    }

  .contact__text {
    @include font-set(13px, 1.583);
    color: $primary-dark-color;
    margin-bottom: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

    .form__input {
        width: 467px;
  
  }
  .form__btn {
    width: 467px;
  }
  
  .politics {
    padding-left: 192px;
  }

}

@media (min-width: 1200px) {

    .header{

        background-image: url(../images/header/BgheaderDecstop.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .container_header {
        width: 1170px;
        padding-left: 15px;
      }

    .header__main-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .logotype{
        margin-bottom: 65px;
    }

    .header__wrapper{
        width: 640px;
    }

    .header__form-wrapper{
        width: 462px;
        padding: 40px 20px 50px 34px;
    }

    .header__text {
        @include font-set(20px, 1.5);
        margin-bottom: 38px;
        letter-spacing: -1px;
    
      }

    .header__title {
        @include font-set(60px, 1.167);
        margin-bottom: 38px;
        letter-spacing: -3px;

    }

    .header__main-text{
        @include font-set(35px, 1.28);
        letter-spacing: 0;
        margin-bottom: 44px;
    }

    .header__meet-text{
        @include font-set(29px, 1.2);
        margin-bottom: 18px;
    }

    .header__adress-text{
        @include font-set(54px, 1.2);
    }

    .contact__wrapper{
        width: auto;
    }

    .contact__title {
        @include font-set(35px, 1.2);
        margin: 0;
        width: auto;
        text-align: left;
        margin-bottom: 24px;
    }

    .contact__text{
        @include font-set(18px, 1.566);
        letter-spacing: 0;
        margin-bottom: 34px;
        
    }
    .form__div{
        height: 256px;
        margin-bottom: 40px;
    }

    .form__input{
        @include font-set(18px, 1.2);
        width: 100%;
        height: 60px;
    }

    .form__btn{
        @include font-set(22px, 1.2);
        width: 100%;
        height: 60px;
        
    }
    .politics{
        @include font-set(16px, 1.2);
        padding-left: 818px;

    }



      
}
  

   
  

  
