.it-way-bg-image {
  background-image: url(../images/it_way/it_way.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url(../images/it_way/it_way@2x.png);

  }


}


.it-way__text {
  @include font-set(16px, 1.25);
  color: $primary-white-color;
  font-weight: bold;
  margin-bottom: 23px;
  letter-spacing: -0.4px;
}

.it-way__it-market {
  @include font-set(14px, 1.571);
  color: $primary-white-color;
  letter-spacing: -0.7px;
  margin-bottom: 26px;
}

.it-way {
  padding-top: 34px;
  padding-bottom: 40px;
}

.bold {
  font-weight: bold;
}

.it-way__it-market::before {
  content: '';
  display: block;
  background-color: $secondary--color-aqua;
  width: 60px;
  height: 2px;
  margin-bottom: 13px;
}

.it-way__title {
  @include font-set(20px, 1.5);
  font-weight: bold;
  color: $secondary--color-aqua;
  letter-spacing: -0.7px;
  margin-bottom: 20px;
}

.it-way__title::before {
  @extend %pseudo-before;
  padding-right: 6px;
}

.it-way__title::after {
  @extend %pseudo-after;
  padding-left: 6px;
}

.it-way__button {
  @include font-set(14px, 1.2);
  color: $primary-white-color;
  text-align: center;
  font-weight: bold;
  background-color: $main-orange-color;
  width: 260px;
  height: 70px;
  border-width: 0;
  box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);

}


@media (min-width:768px) {
  .container {
    width: 625px;
  }

  .it-way-bg-image {
    background-image: url(../images/it_way/it_way_tabletka.png);


    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url(../images/it_way/it_way_tabletka@2x.png);

    }
  }


  .it-way {
    padding-top: 55px;
    padding-bottom: 40px;
  }

  .it-way__text {
    @include font-set(22px, 1.264);
    margin-bottom: 36px;
    text-align: justify;
    letter-spacing: -1.1px;
  }

  .it-way__it-market {
    @include font-set(16px, 1.375);
    letter-spacing: -0.7px;
    margin-bottom: 29px;
    width: 384px;
  }

  .it-way__title {
    @include font-set(40px, 1.25);
    letter-spacing: -0.7px;
    margin-bottom: 20px;
  }

  .it-way__button {
    @include font-set(18px, 1.2);
    margin-bottom: 30px;
    background-color: $main-orange-color;
    width: 530px;
    height: 70px;

  }

  .it-way__it-market::before {
    margin-bottom: 13px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }

  .it-way-bg-image {
    background-image: url(../images/it_way/it_way_DT.png);

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url(../images/it_way/it_way_DT@2x.png);

    }
  }


  .it-way {
    padding-top: 45px;
    padding-bottom: 100px;
  }

  .it-way__text {
    @include font-set(30px, 1.167);
    margin-bottom: 45px;
    letter-spacing: -0.4px;
    width: 668px;
    text-align: left;
  }

  .it-way__wrapper {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .it-way__it-market {
    @include font-set(18px, 1.944);
    letter-spacing: -0.7px;
    width: 402px;
    order: 1;
    margin-left: 86px;
  }

  .it-way__it-market::before {
    margin-bottom: 13px;
  }

  .it-way__title {
    @include font-set(48px, 1.2);
    letter-spacing: -0.7px;
    margin-bottom: 60px;
  }

  .it-way__button {
    @include font-set(30px, 1.2);
    width: 683px;
    height: 109px;
    margin-bottom: 0;

  }


}
