html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $main-font-stack;
}

.container {
  width: 260px;
  margin: 0 auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.list {
  list-style: none;
}

.section__title {
  @include font-set(20px, 1.5);
  letter-spacing: -0.8px;
  font-weight: 900;

  &::before {
    @extend %pseudo-before;
    margin-right: 6px;
  }

  &::after {
    @extend %pseudo-after;
    margin-left: 6px;
  }

  @media (min-width:768px) {
    text-align: center;
    @include font-set(30px, 1.3);
    letter-spacing: -1.2px;
  }

  @media (min-width:1200px) {
    text-align: left;
    @include font-set(48px, 1.25);
    letter-spacing: -1.9 px;
  }
}
