html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $main-font-stack;
}

.container {
  width: 260px;
  margin: 0 auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.list {
  list-style: none;
}

.section__title {
  @include font-set(20px, 1.5);
  letter-spacing: -0.8px;
  font-weight: 900;
}

.section__subtitle {
  @include font-set(14px, 1.43);
  letter-spacing: -0.8px;
  font-weight: 900;
}
